{% extends 'Site/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="max-height: 850px;">
                    <img class="position-relative w-100" src="../assets/img/afms//IMG_20230706_045547_768.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                             <h5 class="text-white text-uppercase mb-md-3">Le Centre de formation N°1 regroupant des Formateurs issus du terrain </h5>
                            <h1 class="display-3 text-white mb-md-4">Agence de Formation aux Métiers de la Sécurité</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="max-height: 850px;">
                    <img class="position-relative w-100" src="../assets/img/afms/IMG_20230706_045546_408.jpg" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Le Centre N°1 regroupant des Formateurs issus du terrain </h5>
                            <h1 class="display-3 text-white mb-md-4">Agence de Formation aux Métiers de la Sécurité</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="max-height: 850px;">
                    <img class="position-relative w-100" src="../assets/img/afms/AGENT SSIAP 1-2-3 (2).JPG" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                             <h5 class="text-white text-uppercase mb-md-3">Le Centre N°1 regroupant des Formateurs issus du terrain </h5>
                            <h1 class="display-3 text-white mb-md-4">Agence de Formation aux Métiers de la Sécurité</h1>
                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="../assets/img/afms/GuardianFrance.JPG" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">A propos de nous</h5>
                        <h1>Innover pour réussir</h1>
                    </div>
                   <p><strong>AFMS</strong> (Agence de Formation aux Métiers de la Sécurité) est un organisme de formation spécialisé dans la sécurité privée. Nous offrons des formations de qualité adaptées aux besoins des agents de sécurité.</p>

<p>Nos formateurs expérimentés, issus du terrain, vous accompagnent dans votre parcours professionnel. Nous mettons à votre disposition un plateau technique réaliste pour une formation pratique et immersive.</p>

<p>Que vous souhaitiez débuter dans le domaine de la sécurité ou développer vos compétences existantes, AFMS propose une variété de formations, de l'initiation à la spécialisation. Nos programmes couvrent des domaines clés tels que la prévention/sécurité, la sécurité incendie, le secourisme ainsi que les habilitations électriques.</p>

<p>Nous sommes fiers de fournir des formations de qualité reconnues par les autorités compétentes.</p>

                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Voir nos formations</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nos formations aux métiers de la sécurité</h5>
            <h1>Trouver votre formation dès maintenant</h1>
        </div>
        
        <div class="row-1 d-flex justify-content-center">
            <div id="category-carousel" class="carousel slide d-sm-none" data-interval="55000">

                <div class="carousel-inner">
                    {% for categorie in categories %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4 mx-auto">
                                <div class="cat-item position-relative overflow-hidden rounded mb-2 text-center">
                                    <img class="img-fluid" src="{{ asset('assets/img/' ~ categorie ~ '.png') }}" alt="">
                                    <a class="cat-overlay text-white text-decoration-none" href="#" data-category="{{ categorie }}">
                                        <h4 class="text-white font-weight-medium">{{ categorie }}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#category-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#category-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% for categorie in categories %}
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mb-4 mx-auto d-none d-sm-block">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2 text-center">
                        <img class="img-fluid" src="{{ asset('assets/img/' ~ categorie ~ '.png') }}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="#" data-category="{{ categorie }}">
                            <h4 class="text-white font-weight-medium">{{ categorie }}</h4>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% set categorieImages = {
    'Agent de surveillance': 'assets/img/Agent de surveillance',
    'SSIAP': 'assets/img/SSIAP.png',
    'Secourisme': 'assets/img/Secourisme.png',
    'Habilitations électriques': 'assets/img/Habilitations électriques',
     'Incendie': 'assets/img/Incendie.png'
} %}


<!-- Courses Start -->
<div class="container-fluid">
    <div class="container">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nos formations disponibles :</h5>
        </div>
        <div class="row d-none d-sm-flex"> <!-- Cacher sur mobile -->
            {% for formation in formations %}
                <div class="col-lg-4 col-md-6 mb-4 formation-category" data-category="{{ formation.categorie }}">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid rounded" src="{{ asset('uploads/' ~ formation.imageFileName) }}" alt="{{ formation.name }}">
                         <div class="bg-secondary p-4">
             <a class="h5" href="">{{ formation.name }}</a>
                <div class="d-flex justify-content-between mb-3">
                    <small class="m-0">
                        {% if formation.categorie == 'Agent de surveillance' %}
                            <i class="fa-solid fa-shield-halved text-primary mr-2"></i>
                        {% elseif formation.categorie == 'SSIAP' %}
                            <i class="fa-solid fa-house-fire text-primary mr-2"></i>
                        {% elseif formation.categorie == 'Secourismes' %}
                            <i class="fa-solid fa-suitcase-medical text-primary mr-2"></i>
                        {% elseif formation.categorie == 'Habilitations électriques' %}
                            <i class="fa-solid fa-bolt text-primary mr-2"></i>
                        {% elseif formation.categorie == 'Incendie' %}
                            <i class="fa fa-incendie-icon-class-here text-primary mr-2" aria-hidden="true"></i>
                        {% endif %}
                        {{ formation.categorie }}
                    </small>
                    <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>{{ formation.time }} Heures</small>
                </div>
                <div class="d-flex justify-content-between">
                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>{{ formation.people }} Participants</small>
                        <small class="m-0"><i class="fa fa-euro text-primary mr-2"></i> €</small>
                    </div>
               
                <div class="border-top mt-4 pt-4">
                    
                    <center>  <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Obtenir un Devis</a></center>
                </div>
            </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Carrousel pour mobile -->
        <div id="formationCarousel" class="carousel slide d-sm-none" data-ride="carousel" data-wrap="true" data-interval="false">

            <div class="carousel-inner">
                {% for formation in formations %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="col-lg-4 col-md-6 mb-4 formation-category" data-category="{{ formation.categorie }}">
                            <div class="rounded overflow-hidden mb-2">
                                <img class="img-fluid rounded" src="{{ asset('uploads/' ~ formation.imageFileName) }}" alt="{{ formation.name }}">
                                <div class="bg-secondary p-4">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0">
                                            {% if formation.categorie == 'Agent de surveillance' %}
                                                <i class="fa-solid fa-shield-halved text-primary mr-2"></i>
                                            {% elseif formation.categorie == 'SSIAP' %}
                                                <i class="fa-solid fa-house-fire text-primary mr-2"></i>
                                            {% elseif formation.categorie == 'Secourisme' %}
                                                <i class="fa-solid fa-suitcase-medical text-primary mr-2"></i>
                                            {% elseif formation.categorie == 'Habilitations électriques' %}
                                                <i class="fa-solid fa-bolt text-primary mr-2"></i>
                                            {% elseif formation.categorie == 'Incendie' %}
                                                <i class="fa fa-incendie-icon-class-here text-primary mr-2" aria-hidden="true"></i>
                                            {% endif %}
                                            {{ formation.categorie }}
                                        </small>
                                        <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>{{ formation.time }} Heures</small>
                                        <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>{{ formation.people }} Participants</small>
                                        <small class="m-0"><i class="fa fa-euro text-primary mr-2"></i> € </small>
                                    </div>
                                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Obtenir un devis</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#formationCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#formationCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!-- Courses End -->


  
   
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Besoin de Renseignements</h5>
                        <h1 class="text-white">Contactez-nous</h1>
                    </div>
                    <p class="text-white">Si vous avez des questions concernant le financement de votre formation, n'hésitez pas à nous contacter.<p> 
                    <p class="text-white"> Nous sommes là pour vous aider à trouver les meilleures solutions.</p>
                    
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-phone text-primary mr-3"></i>Appelez-nous au : +123 456 789</li>
                        <li class="py-2"><i class="fa fa-clock text-primary mr-3"></i>Horaires d'ouverture : Lun - Ven : 9h00 - 18h00</li>
                      
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                             <h1 class="m-0">Contactez-nous</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 p-4" placeholder="Nom" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 p-4" placeholder="Email" required="required">
                                </div>
                                 <div class="form-group">
                                <textarea class="form-control border-0 p-4" rows="4" placeholder="Votre message"></textarea>
                            </div>
                               
                                <div>
                                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ include('Site/partner.html.twig') }}
    <!-- Testimonial Start -->

    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">AFMS à travers les yeux de nos étudiants</h5>
                <h1>Des mots qui parlent d'eux-mêmes</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">La formation est un vrai tremplin pour moi car j’avais besoin de retrouver un emploi rapidement et les formateurs sont très agréables.</h4>
                            <h5 class="m-0">Samir H.</h5>
                            <span>APS</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">J'ai vraiment été accompagné dans mon projet de recherche d'emploi et la formation SSIAP 1 s'est très bien déroulée et AFMS m'a beaucoup aidé pour que j'atteigne mes objectifs.</h4>
                            <h5 class="m-0">Moussa D.</h5>
                            <span>SSIAP 1</span>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">Je ne connaissais pas vraiment ce secteur car c'est une reconversion professionnelle et la responsable m'a bien expliqué le métier avant que je me lance. Aujourd'hui, je suis employée en CDI dans une grande entreprise de sécurité.</h4>
                            <h5 class="m-0">Mida L.</h5>
                            <span>APS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{{ include('Site/actu.html.twig') }}

{{ include('Site/certif.html.twig') }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formations = document.querySelectorAll('.formation-category');

        formations.forEach(function(formation) {
            formation.style.display = 'none';
        });

        var categoryLinks = document.querySelectorAll('.cat-overlay');

        categoryLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                var category = this.getAttribute('data-category');

                formations.forEach(function(formation) {
                    var formationCategory = formation.getAttribute('data-category');
                    var displayStyle = formationCategory === category ? 'block' : 'none';
                    formation.style.display = displayStyle;
                });
            });
        });
    });
</script>

  <script src="https://kit.fontawesome.com/db78e6416f.js" crossorigin="anonymous"></script>

  
{% endblock %}
