<h2 class="name"> {{ emailData.name }} {{ emailData.lastname }}</h2><br>
    <h2 class="name"> Téléphone : <br><a href="tel:{{ emailData.phone }}">{{ emailData.phone }}</a></h2><br>
    <h2 class="name">Email : <br>{{ emailData.email }}</h2><br>